.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: flex-start;

	height: 60vh;
	width: 50vw;
	margin: auto;
	border-radius: 20% 5%;
	background-color: #212529;
}

.round {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-content: center;

	width: 20vw;
	padding: 1vmin;
	border-radius: 20% 5%;
	background-color: #212529;
}

.round:hover {
	background-color: #2e3338;
	transform: scale(1.05);
}

.game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	align-content: flex-start;

	height: 12vh;
}

.player {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

	border-radius: 5% / 50%;
	margin: 1px;
	width: 15vw;
	height: 5vh;

	background-color: #4e5761;
	color: white;
	font-size: 2vmin;
	text-align: center;
}

.player:hover {
	transform: scale(1.05);
}

.playerLoser {
	background-color: #8b1010;
	color: white;
}

.playerWinner {
	background-color: #0b9238;
	color: white;
}

.playerFirst {
	background-color: #fcc200;
	color: black;
}

.playerSecond {
	background-color: #d6d6d6;
	color: black;
}

.playerThird {
	background-color: #ad6c2b;
	color: white;
}

.playerLast {
	background-color: #520785;
	color: white;
}

.title {
	color: white;
	font-size: 3vmin;
}